* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}
:root {
    --ratio: 1.5;
    --s-5: calc(var(--s-4) / var(--ratio));
    --s-4: calc(var(--s-3) / var(--ratio));
    --s-3: calc(var(--s-2) / var(--ratio));
    --s-2: calc(var(--s-1) / var(--ratio));
    --s-1: calc(var(--s0) / var(--ratio));
    --s0: 1rem;
    --s1: calc(var(--s0) * var(--ratio));
    --s2: calc(var(--s1) * var(--ratio));
    --s3: calc(var(--s2) * var(--ratio));
    --s4: calc(var(--s3) * var(--ratio));
    --s5: calc(var(--s4) * var(--ratio));
  }

html {
 
    font-family: Helvetica, Verdana, Geneva, Tahoma, sans-serif;
}

body {
    height: 100vh;
    width: 100vw; 
    max-width: 100%;
}

img {
    max-width: 100%;
    vertical-align: middle;
}

header, footer {
  text-align: center;
  padding: var(--s-2);
  font-size: var(--s1);
}

/* right side*/


header img {
    height:var(--s4);
    margin:var(--s-1);
}

footer img {
    height:var(--s2);
}


main section {
    
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(21rem, 1fr));
    height: 100%;
    gap: var(--s-1);
    padding: var(--s-1);

}

main section article {
    position: relative;
}

p {
    
    margin: var(--s-4) 0 var(--s-4) 0;
}




.sold {
    margin: var(--s-1);
    opacity: 0.75;
    position: absolute;
    right:0;
    color:#fff;
    text-align: right;
}

footer {
    text-align: center;
}

footer img#cindy {
    vertical-align: text-top;
    margin-top: var(--s-2);
}
/*
@media only screen and (min-width:320px) and (max-width:480px) {
  
   

    main section {
        
        grid-template-columns: 1fr 1fr;
        
    }

  
    
  }*/